/* General styles */
:root {
  --main-color: #757575;
  --main-bcg-color: #ffffff;
  --second-bcg-color: #2f303a;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --header-logo-color: #000000;
  --button-bcg-color: #f5f4fa;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bcg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--button-bcg-color);
  color: var(--title-text-color);
  border: none;
  font-family: inherit;
}

/* Page header */
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}

.header-web {
  color: var(--accent-color);
}

.header-studio {
  color: var(--header-logo-color);
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/* Styles for index.html */

/* Hero */

.hero {
  background-color: var(--second-bcg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bcg-color);
}

.button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
}

/* List of solutions */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.solution-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.solution-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* What we do */

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* Team */

.team {
  background-color: var(--button-bcg-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* Styles for portfolio */

.button-list .button:hover,
.button-list .button:focus {
  background-color: var(--accent-color);
  color: var(--main-bcg-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-list .text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

/* Footer */

.footer {
  background-color: var(--second-bcg-color);
}

.footer-web {
  color: var(--accent-color);
}

.footer-studio {
  color: var(--main-bcg-color);
}

.adress {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
